/* место для вашего кода */

body {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  /* TODO: delete 3 next rows */
  background-color: blanchedalmond;
  min-height: 109px;
  min-width: 1000px;

  margin: 92px 49px 92px 51px;
}
