/* место для вашего кода */

/* Reset defaults */

address {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* body */

body {
  display: flex;
  flex-direction: column;
  /* Delete */
  background-color: aquamarine;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin: 92px 49px 92px 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  /* Delete */
  background-color: bisque;
}

.header__links-list {
  float: left;
  list-style: circle;
}

.header__links-list li {
  margin-top: 43px;
  margin-left: 30px;
}

.header__links-list li:first-child {
  margin: 43px 0 0;
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  /* Delete */
  background-color: blue;
  min-width: 1200px;
  min-height: 600px;
}

.cover {
  display: flex;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
  /* Delete */
  background-color: blueviolet;
  min-height: 200px;
}

.overlay {
  background: rgba(0, 0, 0, 0.60);
  width: 100%;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin: 165px 50px 0;
}

.aligned-text_center {
  text-align: center;
  margin: 20px 0;
}

.aligned-text_right {
  text-align: right;
  margin: 0 50px 147px;
}

.letter-spacing-extended {
  display: inline-block;
  letter-spacing: 60px;
}
